<div class="jumbotron">
    <form method="post" action="/home/params/12?size=Big">
        <input name="colour" value="Red" />
        <input name="size" value="Small"/>
        <input type="submit"/>
    </form>
</div>
